.baseball_Container {
    display: flex;
    align-items: flex-end;
    justify-content:left;
    height: 100vh;
    width: 100vw;
}

.baseball_items {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 20px ;
}

.baseball_items h1 {
    font-size: xx-large;
}

.teams h1 {
    width: 100%;
    padding: 0px 5px 0px 5px;
    border: 2.5px solid black;
}

.scores h1 {
    width: 45px;
    border: 2.5px solid black;
}

.misc_info {
    background-color: black;
}

.misc_info h1 {
    color: white;
    font-size: larger;
}

.basevteam {
    display: flex;
    flex-direction: row;
}

.basehteam {
    display: flex;
    flex-direction: row;
}