.FB_Slim_Container {
    display: flex;
    align-items: flex-end;
    justify-content:left;
    height: 100vh;
    width: 100vw;
}

.FB_Slim_items{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2.5px solid black;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 60px;
}

.FB_Slim_items h1 {
    padding: 0% 2% 0% 2%;
    font-size: xx-large;
    border: 2.55px solid black;
    height: 100%;
}

.FBscore {
    border: 2.5px solid black;
    background-color: white;
    height: 100%
}

.FBsit {
    background-color: black;
    display: inherit;
    color: white;
    padding: 0% 2% 0% 2%;
    width: 235x;
}
