.amplify-card {
  background-color: #60a3d9;
  color: white;
}

h1 {
  margin: 0;
  font-size: 5rem;
  font-family:'Franklin Gothic Medium';
  color: black;
  font-weight: 200;
  font-style: normal;
  font-variant: small-caps;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

.templateSave {
  position: relative;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ButtonSave {
  margin-bottom: -10%;
  margin-left: center;
  background-color: #00b6bc;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.ButtonSave:hover {
  background-color: #0c6170;
}

.ButtonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 10; 
}

.homeButton {
  background-color: #00b6bc;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.homeButton:hover {
  background-color: #0c6170;
}

.signout {
  margin-left: 10px;
  background-color: #00b6bc;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.signout:hover {
  background-color: #0c6170;
}
.Sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 20px;
  background-color: #d4f1f4;
  border-bottom: 2px solid #ccc;
}

.Sidebar .colorPicker {
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
}

.Sidebar .secondInput {
  margin-top: 20px;
}

.customMenuButton {
  max-width: 200px;
  margin-right: 1%;
  flex-grow: 2;
  display: flex;
  gap: 10px;
}

.file-input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.file-input-label {
  margin-right: 62%;
}
.fileUploads {
  margin-left: 1%;
  margin-right: 1%;
}

.uploaded-image {
  position: fixed;
  bottom: 10px;
  left: 10px;
  max-width: 150px;
  height: auto;
}

.uploaded-image2 {
  position: fixed;
  bottom: 10px;
  right: 10px;
  max-width: 150px;
  height: auto;
}

.parent-element {
  position: relative;
  height: 100vh;
}

.scoreboardGen {
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 1; /* Lower z-index than the ButtonContainer means I can click other buttons */
  pointer-events: none; 
  transform: translate(-50%, -50%);
  
}


/* File Upload button Graphic Elemens */
.fileUploadBtn {
  background-color: #00b6bc; 
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 1%; 
  white-space: nowrap; 
}

.fileUploadBtn:hover {
  background-color: #0c6170; 
}

.hiddenFileInput {
  display: none; 
}