.dash_body
{
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.PresetCreatorButton {
  color: white;
  background-color: #466b99;
  border: 2px solid #1F2B3F;
  font-size: 1.2rem;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
}

.PresetCreatorButton:hover {
  background-color: #1F2B3F;
}

.PresetTile {
  color: black;
  background-color: #f3ffff;
  border: 4px solid #b0bbbb;
  border-radius: 15px;
  width: 320px;
  height: 180px;
  cursor: pointer;
  margin: 1%
}

.PresetTile:hover {
  background-color: #a0aaaa;
}

.dash_body h1 {
    text-align: center;
    background-color: #60a3d9;
}

.user_presets {
    text-align: center;
}

.StartSessionButton {
  color: black;
  background-color: lightgreen;
  border: 2px solid #41d941;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 1.2rem;
}

.StartSessionButton:hover {
  background-color: #41d941;
}

.SObutton {
  color: black;
  background-color: lightcoral;
  border: 2px solid #e64040;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  font-size: 1.2rem;
  margin: 5px;
}

.SObutton:hover {
  background-color: #e64040;
}

.SportPopupButton {
  color: black;
  background-color: white;
  border: 2px solid #aaaaaa;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 1.2rem;
}

.SportPopupButton:hover {
  background-color: #aaaaaa;
}

.ClosePopupButton {
  color: black;
  background-color: lightcoral;
  border: 2px solid #e64040;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 1.2rem;
}

.ClosePopupButton:hover {
  background-color: #e64040;
}

.dash_body h1 {
  text-align: center;
}

.user_presets {
  text-align: center;
}

/*styling for popups for session start/obs setup instructions*/
.SCcontain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SessionCreator {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 60%;
  height: 30%;
}

.SessionCreator ul {
  text-align: left;
}

.SessionCreator h1 {
  background-color: #d4f1f4;
  font-size: 40pt;
}