.docbody{
    background-color: white;
}

.docbody h1 {
    width: 100vw;
    text-align: center;
    background-color: #60a3d9;
    margin: 0;
    padding: 0;
}

.docbody button {
    position: fixed;
    top: 0; 
    right: 0; 
    margin: 10px;
}

.doccontent {
    padding: 0px 0px 0px 20px;
    margin-right: 90px;
}

.homeButton {
    background-color: #466b99;
    outline: 2px solid #1F2B3F;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}
  
.homeButton:hover {
  background-color: #1F2B3F;
}

.doccontent a {
    color: lightcoral;
}

@media only screen and (min-width: 768px) {
.ObsSetupImgContain {
    display: flex;
}
}

.ObsSetupImgContain img {
    width: 320px;
    height: 320px;
    margin: 10px;
}
