.FB_Slim_Container {
    display: flex;
    align-items: flex-end;
    justify-content:left;
    height: 100vh;
    width: 100vw;
}

.FB_Slim_Container .FB_Slim_items{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 5px solid black;
    width: 100%;
    background-color: beige;
}

h1 {
    margin: 0% 2% 0% 2%;
    font-size: xx-large;
}