.left {
  flex: 1;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  background-image: url("/public/playdrawings.png");
  background-attachment: scroll;
  background-size: auto;
  background-repeat: no-repeated;
}

.container h1 {
  margin: 0;
  font-size: 5rem;
  color: white;
  font-weight: 100;
  font-style: oblique;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.generic {
  font-weight: bold;
  max-width: 80%;
  font-style: italic;
}

.about {
  flex: 1;
  background-color: #E4F4F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%;  */
  align-items: center;
  text-align: center;
}
.full-width-container {
  background-color: #E4F4F3;
}

.about h1{
  text-align: center;
  color: black;

}

.about-desc {
  max-width: 80%;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
  padding: 0 20px;
}

.broadcast-button {
  background-color: #00B6BC;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.broadcast-button:hover {
  background-color: #0C6170;
}
/*devices that are larger than tablets*/
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    height: 100vh;
  }
 

}
