body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  background-image: url("/public/playdrawings.png");
  background-attachment: scroll;
  background-size: auto;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  font-size: 3rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

button[type="submit"]:hover {
  background-color: #ffc107;
}
.about {
  color: black;
}