.left {
  flex: 1;
  background-color: #60a3d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  background-image: url("/public/playdrawings.png");
  background-attachment: scroll;
  background-size: auto;
  background-repeat: no-repeated;
}

.container h1 {
  margin: 0;
  font-size: 5rem;
  color: black;
  font-weight: 100;
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.generic {
  font-weight: bold;
  max-width: 80%;
  font-style: italic;
}

.about {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-width-container {
  background-color: #d4f1f4;
}

.full-width-container li {
  text-align: left;
}

.about h1{
  text-align: center;
  color: black;
  background-color: #d4f1f4;
  width: 100%;
}

.about-desc {
  max-width: 80%;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
  padding: 10px 20px;
}

.broadcast-button {
  color: white;
  background-color: #466b99;
  border: 2px solid #1F2B3F;
  font-size: 1.2rem;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
}

.broadcast-button:hover {
  background-color: #1F2B3F;
}
/*devices that are larger than tablets*/
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    height: 100vh;
  }
 

}